.jumbotron {
    background-image: url('img/background.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    color: white;
}

section {
    padding-top: 4rem;
}

.navbar {
    color: black;
}